[Desktop Entry]
Name=edit - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=edit --open-url %U
Icon=edit
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/edit;
Keywords=edit;
